[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=WrappedEnumsDemoQt4_8
Exec=/usr/bin/invoker --type=d -s /opt/WrappedEnumsDemoQt4_8/bin/WrappedEnumsDemoQt4_8
Icon=/usr/share/icons/hicolor/80x80/apps/WrappedEnumsDemoQt4_880.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
