[Desktop Entry]
Type=Application
Name=AliasesDemo
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/AliasesDemo
Comment=Sailfish UI application


